# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# vim files
*.swp

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

gin-bin

*.exe
*.test
*.prof

# binaries
main
tv2go

test.db
tv2go.db

config.json

# webapp stuff
webapp/logs/*
webapp/node_modules/
webapp/bower_components/
webapp/tmp
webapp/npm-debug.log
