<h1>{{episodesListCtrl.show.name}}</h1>
<span class="badge" ng-click="episodesListCtrl.updateShow(episodesListCtrl.show)">Refresh</span>
<span class="badge" ng-click="episodesListCtrl.updateShowFromDisk(episodesListCtrl.show)">Refresh From Disk</span>
<hr>
<div class="container">
<div class="row col-md-6">
<ul class="list-group">
  <li class="list-group-item">Name: <span class="badge">{{episodesListCtrl.show.name}}</span></li>
  <li class="list-group-item">Status: <span class="badge">{{episodesListCtrl.show.status}}</span></li>
  <li class="list-group-item">Language: <span class="badge">{{episodesListCtrl.show.language}}</span></li>
  <li class="list-group-item">Quality: <span class="badge">{{episodesListCtrl.show.quality_group}}</span></li>
  <li class="list-group-item">Airs: <span class="badge">{{episodesListCtrl.show.airs}} on {{episodesListCtrl.show.network}}</span></li>
</ul>
</div>
<div class="row col-md-6">
  <ul class="list-group">
  <li class="list-group-item">Next Airdate: <span class="badge">{{episodesListCtrl.show.next_ep_airdate | nextAirDateHumanize}}</span></li>
  <li class="list-group-item">Location: <span editable-text="episodesListCtrl.show.location" onbeforesave="episodesListCtrl.saveShow(episodesListCtrl.show)">{{episodesListCtrl.show.location}}</span></li>
  <li class="list-group-item">Anime: <span editable-checkbox="episodesListCtrl.show.anime" onbeforesave="episodesListCtrl.saveShow(episodesListCtrl.show)">{{episodesListCtrl.show.anime}}</span></li>
  <li class="list-group-item">Paused: <span editable-checkbox="episodesListCtrl.show.anime" onbeforesave="episodesListCtrl.saveShow(episodesListCtrl.show)">{{episodesListCtrl.show.paused}}</span></li>
  <li class="list-group-item">Air-By-Date?: <span editable-checkbox="episodesListCtrl.show.air_by_date" onbeforesave="episodesListCtrl.saveShow(episodesListCtrl.show)">{{episodesListCtrl.show.air_by_date}}</span></li>

  </ul>
</div>
</div>
