<h1>{{episodesListCtrl.show.name}}</h1>
<div ui-view="showdetail"></div>
<div ng-repeat="epSeason in episodesListCtrl.episodes | orderBy:['-season'] | groupBy:'season':'epsBySeason' ">
  <h2>Season: {{epSeason.season}}</h2>
  <div ng-repeat="ep in epSeason.items">
    <button type="button" class="btn btn-link" ui-sref="tv2go.shows.episodes.edit({episodeId:ep.id})">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>
    {{ep.episode}} - {{ep.airdate}} - {{ep.name}}
    <pre>
    {{ep}}
    </pre>
  </div>
</div>
<hr/>
<!-- create -->
<ui-view> 
<div ng-if="episodesListCtrl.getCurrentShow()">
  <button type="button" class="btn btn-link" ui-sref="tv2go.shows.episodes.create">
    <span class="glyphicon glyphicon-plus"></span>
    CreateEpisode
  </button>
</div>
</ui-view>
