<h1>{{episodesListCtrl.show.name}}</h1>
<div ng-repeat="ep in episodesListCtrl.episodes | orderBy:['season','episode']">
  <button type="button" ng-click="episodesListCtrl.deleteEpisode(ep)" class="close">&times;</button>
  <button type="button" class="btn btn-link" ui-sref="tv2go.shows.episodes.edit({episodeId:ep.id})">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
  {{ep.season}} - {{ep.episode}} - {{ep.airdate}} - {{ep.name}}
</div>
<hr/>
<!-- create -->
<ui-view> 
<div ng-if="episodesListCtrl.getCurrentShow()">
  <button type="button" class="btn btn-link" ui-sref="tv2go.shows.episodes.create">
    <span class="glyphicon glyphicon-plus"></span>
    CreateEpisode
  </button>
</div>
</ui-view>
